<div id="content">
  <% taco = "🌮" %>
<h1>Handy Person</h1>
<h2>Name: <%= @handy.name %></h2>
<h2>Username: <%= @handy.username %></h2>

<% ratings = [] %>
<% total_rating = 0 %>
<% all_ratings = [] %>
<% @handy.ads.each do |ad| %>
   <% ratings << ad.rating %>
   <% ratings.compact.each do |rating| %>
   <% total_rating += rating %>
   <% all_ratings << rating %>
 <% end %>
<% end %>

<% if all_ratings.length != 0 %>
<% rating = total_rating / all_ratings.length %>
<h2>Average Rating: <%= taco * rating %></h2>
<h3>Services Provides</h3>
<ul>
  <% @handy.services.each do |work| %>
    <li><%=  work.name %></li>
  <% end %>
  <% end %>
</ul>


<li class="btn"  align="center"><%= link_to 'Request Service', ad_create_path, method: :post %></li>

</div>





<%# form_for [:user, @handyservice] do |f| %>
  <%# f.hidden_field :handy_id, value: @handy.id %>
  <%# f.collection_select :service_id, @services, :id, :name %>
  <%# f.submit %>
<%# end %>
