<div id="content">
<h1>Profile</h1>
<h2>Name: <%= @user.name %></h2>
<h2>Username: <%= @user.username %></h2>
<%taco = "🌮"%>

<h3>Services Calls</h3>
<ul>
  <% @user.ads.each do |ad| %>
  <%= link_to ad.service.name, user_ad_path(@user, ad) %>
    <br>
  <%= ad.handy.name %>
  <br>
    <% if ad.rating != nil %>

  Tacos: <%= taco * ad.rating %>
    <br>
  <% else %>
  <%end%>
  <br>
  <% end %>
  </ul>
  <br>

<ul class="btn"  align="center"><%= link_to 'Request Service', user_services_path(@user) %></ul>

</div>
